%flexcentr{
    display: flex;
    justify-content: center;
    align-items: center;
}
%flexcolom{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}